<div class="footer">
  <div class="wrap-footer-content">
    <div class="footer-logo-copy">
      <div class="footer-logo">
        <img src="image/group-2.png" alt="Logo">
        Bran<span>d</span>
      </div>
      <div>
        Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate
        multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of
        processes and cross-unit partnerships.
      </div>
      <div>
        Efficiently plagiarize 24/365 action items and focused infomediaries.
        Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
      </div>
    </div>
    <div class="footer-links__wrap">
      <div class="footer-company footer-links">
        <div>COMPANY</div>
        <a href="#">Home</a>
        <a href="#">Shop</a>
        <a href="#">About</a>
        <a href="#">How it Works</a>
        <a href="#">Contact</a>
      </div>
      <div class="footer-information footer-links">
        <div>INFORMATION</div>
        <a href="#">Tearms & Condition</a>
        <a href="#">Privacy Policy</a>
        <a href="#">How to Buy</a>
        <a href="#">How to Sell</a>
        <a href="#">Promotion</a>
      </div>
      <div class="footer-shop-category footer-links">
        <div>SHOP CATEGORY</div>
        <a href="#">Men</a>
        <a href="#">Women</a>
        <a href="#">Child</a>
        <a href="#">Apparel</a>
        <a href="#">Brows All</a>
      </div>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="wrap-copyright">
    <div class="copyright-text">
      &copy; 2017 Brand All Rights Reserved.
    </div>
    <div class="copyright-social">
      <a href="#">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="components/jquery-ui/jquery-ui.min.js"></script>
<script src="js/main-out.min.js"></script>
