<header class="header header_resp">
  <div class="header-content">
    <a href="#" class="header-label">
      <img src="image/group-2.png" alt="Logo">
      Bran<span>d</span>
    </a>
    <div class="header-search">
      <div class="search__wrap">
        <select title="search" name="search" id="search">
          <option class="nav" value="Browse">Browse</option>
        </select>
        <input type="text" placeholder="Search for item...">
        <button></button>
      </div>
    </div>
    <div class="acc">
      <div class="acc__cart_wrap">
        <a href="#"><span id="count-goods"></span></a>
        <div id="wrap-top-basket" class="acc__cart">
        </div>
      </div>
      <div class="my-account__wrap">
        <select title="MyAccount" class="btn" name="account" id="account">
          <option value="MyAccount">MyAccount</option>
        </select>
      </div>
    </div>
  </div>
</header>
