<header class="header header_resp">
  <div class="header-content">
    <a href="#" class="header-label">
      <img src="image/group-2.png" alt="Logo">
      Bran<span>d</span>
    </a>
    <div class="header-search">
      <div class="search__wrap">
        <select title="search" name="search" id="search">
          <option class="nav" value="Browse">Browse</option>
        </select>
        <input type="text" placeholder="Search for item...">
        <button></button>
      </div>
    </div>
    <div class="acc">
      <div class="acc__cart_wrap">
        <a href="#"></a>
        <div class="acc__cart">
          <div class="acc__cart__products-wrap">
            <div class="acc__cart__product">
              <div class="acc__cart__product__img">
                <img src="image/cart-product-1.jpg" alt="Rebox Zane">
              </div>
              <div class="acc__cart__product__data">
                <span class="product__data_head">Rebox Zane</span>
                <span class="product__data_quality">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star quality-white" aria-hidden="true"></i>
                </span>
                <div class="product__data_calculation">
                  <span class="product__data_number">1</span> x <span class="product__data_price">$250</span>
                </div>
              </div>
              <div class="acc__cart__product__del">
                <button>
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="acc__cart__product">
              <div class="acc__cart__product__img">
                <img src="image/cart-product-2.jpg" alt="Rebox Zane">
              </div>
              <div class="acc__cart__product__data">
                <span class="product__data_head">Rebox Zane</span>
                <span class="product__data_quality">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star quality-white" aria-hidden="true"></i>
                </span>
                <div class="product__data_calculation">
                  <span class="product__data_number">1</span> x <span class="product__data_price">$250</span>
                </div>
              </div>
              <div class="acc__cart__product__del">
                <button>
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="acc__cart__price-total">
            <span class="price-total_description">total</span><span class="price-total_value">$500.00</span>
          </div>
          <div class="acc__cart__buttons">
            <button class="buttons_checkout">Checkout</button>
            <button class="buttons_go-to-cart">Go to cart</button>
          </div>
        </div>
      </div>
      <div class="my-account__wrap">
        <select title="MyAccount" class="btn" name="account" id="account">
          <option value="MyAccount">MyAccount</option>
        </select>
      </div>
    </div>
  </div>
</header>
